In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_stata('data/klinisk_data.dta', convert_categoricals=False)

In [6]:
for c in data.columns:
    print('-', c)

- person_id
- ID_deltaker
- ER_10_prosent
- ER_1_prosent
- PR_10_prosent
- HER2
- Ki67
- Ck5
- Ck14
- EGFR
- TP_nr
- Size_A
- Size_min_A
- str_Anna
- Storrelse_histopatologisk
- str_hp_oppr
- str_crude
- str_2_5
- Storrelse_klinisk
- Kliniske_funn_hud_fascie
- met_brystalle
- stadium_brystalle
- Ant_lkn_us
- Ant_lkn_met
- lkn_status
- Vaktpostlkn
- Ark_A
- brystkreft_NT
- type_dlmpo
- papil_rev
- Alder_ved_S1
- Mitoses1
- Utgaar_sikkert
- Utgaar_forelopig
- Utgaar_lab
- ID_sykdom1
- Provenr101
- Preparatnr101
- Aarstall_prove101
- Provenr102
- Preparatnr102
- Aarstall_prove102
- Aarstall_prøve103
- Aarstall1_tumor1
- Prove1_lkn1
- Preparatnr1_lkn1
- Opr_type_kat
- Side_r
- Size_A1
- Size_min_A1
- Size_A2
- Size_min_A2
- inkl
- MITOSER
- Ark_O
- TYPE
- GRAD
- sykdom_id1
- ds1num
- diagnosedato1
- lok_icd71
- lok1
- topografi1
- hist_motnac1
- morfologi1
- basis1
- metastase1
- stadium1
- kirurgi1
- straalebehandling1
- hormonterapi1
- kjemoterapi1
- annen_behandling1
- side1
- fylke1
- alder1
- diagnosedato_151
- sykdom_id2
- ds2num
- diagnosedato2
- lok_icd72
- lok2
- topografi2
- hist_motnac2
- morfologi2
- basis2
- metastase2
- stadium2
- kirurgi2
- straalebehandling2
- hormonterapi2
- kjemoterapi2
- annen_behandling2
- status
- statusdato
- doedsaarsak
- response
- bmnth
- byear
- agefolup
- county
- urbrur
- occupat
- marstat
- marage
- parity
- deliage1
- deliage2
- deliagel
- deliint
- deliwait
- menowait
- childles
- reprodur
- lacttot
- lact1
- lact2
- lact3
- lactmean
- lactbmi
- menarche
- menopaus
- mensreg
- selflast
- docexam
- doclast
- disease1
- disease2
- disease3
- sickyear
- advice
- hwdone
- hwyear
- hwage
- hwcode
- height
- weight
- bmi
- bmi1
- hwtime
- hdiag1cr
- hdiag2cr
- hdiag3cr
- centime
- merg
- byear_cat
- cancernummer
- lokny
- brystalle
- birthdate
- start_followup
- age_010161
- statusdato1
- statusdato2
- statusdato15
- age_first_cancer
- diadate_brystalle
- freg
- date_hw
- age_height
- menarche_kvaalesgr
- height_norm
- height_5gr
- parity_0_4
- afftp_20_36
- bmi_5cat
- bmi_3cat
- para_0_1
- gift_2gr
- para_0_2
- parity_1_4
- afftp_para_20_36
- agelb_cat
- fjernet_ovarier
- age1_gynop
- hysterektomi
- kir_menop
- menopause_nat_cat
- height_3gr
- menarche_3gr
- menarche_2gr
- menopause_naturlig
- bmi_norm
- height_2gr
- bmi_2gr
- menopause_2gr
- age_hwcat
- byear_meno
- occupat_cat
- menarche_4gr
- abort_2gr
- afftp_para_19_35
- afftp_2gr
- afftp_19_35
- prev_ins_brystalle
- amming_tot
- DUCTAL
- LOBULAR
- OTHER
- GRAD1
- GRAD2
- GRAD3
- amming_tot_4gr
- afftp_para_3gr
- EXCLUDED
- cnr_brystalle
- morf_brystalle
- start_followup_post55
- histmotnac_brystalle
- histologi_KRG
- dod_aarsak1
- dod_aarsak
- dod_aarsak11
- dod_aarsak111
- dod_aarsak1111
- Cdod2
- dod_51
- dod_brystkreft
- dod_brc_dato
- basis_brystalle
- prep_ikkeStolav
- prepnr_KRG
- type_5gr
- DNR
- grad_5gr
- bc_rev
- afftp_3gr_mnp
- giftbarn
- byear_meno5
- byear_8cat
- parity_meno_grad
- afftp_5year
- lacttot_halvaar
- menopause_3aar
- amming_per_barn
- amming_per_barn_halvaar
- amming_per_barn_4gr
- stadium_4gr
- age_brystalle
- date_eof_brystalle
- year_brystalle
- eof_dod_brc
- diayear_10
- diayear_10rc
- age_dia_cat
- age_dia_catrc
- type_3gr
- tdiff
- bc_sensanalyse
- grad_rc
- _IGRAD_2
- _IGRAD_3
- _IGRAD_999
- _Iage_dia_c_2
- _Iage_dia_c_3
- _Iage_dia_c_4
- _Iage_dia_c_5
- _Iage_dia_c_6
- _Iage_dia_c_7
- _Iage_dia_c_8
- _Iage_dia_c_9
- _Idiayear_1_2
- _Idiayear_1_3
- _Idiayear_1_4
- _Idiayear_1_5
- oprtype_num
- STATUS_0611
- STATUSDATO_0611
- doedsaarsak_1210
- merge_markoer_kvaale
- CBP_Ck5_EGFR
- CBP_Ck5
- CBP_EGFR
- test
- STATUSDATO_06111
- statusdato06112
- status_mnd_0611
- STATUSDATO_0611_15
- dod_aarsak_20101
- dod_aarsak_2010
- dod_aarsak_201011
- dod_aarsak_2010111
- dod_aarsak_20101111
- Cdod_20102
- dod_5_20101
- dod_brystkreft_2010
- dod_brc_dato_2010
- eofdate_dod_2010
- diagnaar
- diagn5år
- dign61_65
- dign66_70
- dign71_75
- dign76_80
- dign81_85
- dign86_90
- dign91_95
- dign96_00
- dign01_05
- dign06_10
- interv_diag_bcdød
- _est_A
- _est_B
- Ki67b
- Ki67c
- TOP2A
- HER2TOP2A
- subtyper
- CK_5_6
- subtyper5_6
- LUA
- LUBHER2neg
- LUBHER2pos
- HER2er1
- allNEGP
- BASP
- Luminal
- NonLuminal
- HER2posgr
- HER2neggr
- ER1prosent
- subtyperER1
- _st
- _d
- _origin
- _t
- _t0
- Stadiumbrystkreft
- TOP2AHER2
- ERnegTOP2AHER2
- ERposTOP2AHER2
- HER2CISH
- HER2CishIhc
- sannsTamoxifen
- Antracyklin
- TOP2Aamp_del
- E_cadherin
- betCat
- AR
- ECad_intensitet
- nodestatus
- Ecad_Node
- Supersubtyper
- TNsubtyper
- NonLum
- alder65
- alder70

In [7]:
new_df = pd.DataFrame()

In [15]:
new_df['person_id'] = data.person_id

In [17]:
new_df['ID_deltaker'] = data.ID_deltaker

In [23]:
np.all(new_df == data.loc[:, ['person_id', 'ID_deltaker']])

True

In [24]:
fields = ['person_id', 'ID_deltaker', 'TP_nr', 
          'Utgaar_sikkert', 'Utgaar_forelopig', 
          'Utgaar_lab', 'TYPE', 'GRAD', 'GRAD1', 
          'GRAD2', 'GRAD3', 'DUCTAL', 'LOBULAR', 
          'OTHER', 'EXCLUDED', 'Luminal', 
          'NonLuminal', 'HER2posgr', 'HER2neggr']

In [26]:
new_df = pd.DataFrame()
for f in fields:
    new_df[f] = data.get(f)

In [27]:
new_df

,person_id,ID_deltaker,TP_nr,Utgaar_sikkert,Utgaar_forelopig,Utgaar_lab,TYPE,GRAD,GRAD1,GRAD2,GRAD3,DUCTAL,LOBULAR,OTHER,EXCLUDED,Luminal,NonLuminal,HER2posgr,HER2neggr
0,83522,1,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,1,NaN,NaN,1
1,3160,2,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,NaN,1
2,34371,3,NaN,1,1,NaN,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,42852,4,1,NaN,NaN,NaN,2,2,0,1,0,0,1,0,0,1,NaN,1,NaN
4,5557,6,NaN,1,1,NaN,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
5,25239,7,1,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,1,NaN
6,31225,8,1,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
7,73609,9,NaN,1,1,NaN,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
8,35045,10,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,1,NaN,NaN,1
9,52193,11,NaN,NaN,NaN,1,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
10,79932,12,1,NaN,NaN,NaN,5,3,0,0,1,0,0,1,0,1,NaN,NaN,1
11,19076,13,NaN,NaN,NaN,1,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
12,10798,14,1,NaN,NaN,NaN,4,2,0,1,0,0,0,1,0,1,NaN,NaN,1
13,16979,15,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,1,NaN
14,61501,16,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,1,NaN
15,23220,17,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,NaN,1
16,78757,18,1,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
17,17906,19,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,1,NaN
18,4150,20,1,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
19,4403,21,1,NaN,NaN,NaN,2,2,0,1,0,0,1,0,0,1,NaN,NaN,1
20,80171,22,NaN,1,1,NaN,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
21,13632,23,1,NaN,NaN,NaN,1,1,1,0,0,1,0,0,0,1,NaN,NaN,1
22,3175,24,1,NaN,NaN,NaN,2,2,0,1,0,0,1,0,0,NaN,1,NaN,1
23,9069,25,1,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
24,20487,26,1,NaN,NaN,NaN,8,2,0,1,0,0,0,1,0,1,NaN,NaN,1
25,59448,27,1,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
26,65235,28,1,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,1,NaN,NaN,1
27,68283,29,1,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,1,NaN,NaN,1
28,82428,31,1,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
29,61082,32,1,NaN,NaN,NaN,1,1,1,0,0,1,0,0,0,1,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,21429,3039,21,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,1,NaN,NaN,1
1027,82184,3040,21,NaN,NaN,NaN,6,1,1,0,0,0,0,1,0,1,NaN,NaN,1
1028,35303,3041,21,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,1,NaN,NaN,1
1029,50660,3042,21,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
1030,70818,3043,21,NaN,NaN,NaN,2,2,0,1,0,0,1,0,0,1,NaN,NaN,1
1031,54994,3044,21,NaN,NaN,NaN,2,2,0,1,0,0,1,0,0,1,NaN,NaN,1
1032,40057,3045,21,NaN,NaN,NaN,1,1,1,0,0,1,0,0,0,1,NaN,NaN,1
1033,83219,3046,21,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
1034,35260,3047,21,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
1035,68524,3048,NaN,2,NaN,1,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
1036,40972,3049,21,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
1037,10193,3050,21,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,1,NaN
1038,35128,3051,NaN,1,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
1039,47584,3052,NaN,1,NaN,1,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
1040,1255,3053,21,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,1,NaN,NaN,1
1041,74684,3054,NaN,1,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
1042,71770,3055,21,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
1043,19997,3056,21,NaN,NaN,2,2,2,0,1,0,0,1,0,0,1,NaN,NaN,1
1044,59462,3057,21,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,NaN,NaN,NaN,NaN
1045,44853,3058,21,NaN,NaN,NaN,8,1,1,0,0,0,0,1,0,1,NaN,NaN,1
1046,3085,3059,21,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,1,NaN,NaN,1
1047,28579,3060,21,NaN,NaN,NaN,1,2,0,1,0,1,0,0,0,1,NaN,NaN,1
1048,60811,3061,21,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,1,NaN
1049,29448,3062,21,NaN,NaN,NaN,4,3,0,0,1,0,0,1,0,1,NaN,1,NaN
1050,20520,3063,22,NaN,NaN,NaN,6,3,0,0,1,0,0,1,0,1,NaN,1,NaN
1051,24884,3064,NaN,1,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN
1052,27579,3065,22,NaN,NaN,NaN,1,3,0,0,1,1,0,0,0,NaN,1,1,NaN
1053,53348,3066,22,NaN,NaN,NaN,2,2,0,1,0,0,1,0,0,1,NaN,1,NaN
1054,30705,3067,22,NaN,NaN,NaN,1,1,1,0,0,1,0,0,0,NaN,1,NaN,1
1055,35391,3068,NaN,1,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,NaN,NaN,NaN,NaN

In [33]:
np.all(np.isfinite(new_df) == (new_df == data.loc[:, fields]))

True

In [34]:
new_df.to_stata('data/clinic_data.dta')

In [37]:
!rm data/klinisk_data.dta