In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [4]:
data = pd.read_stata('data/klinisk_data.dta', convert_categoricals=False)

In [9]:
for c in data.columns:
    print('-', c)

- person_id
- ID_deltaker
- ER_10_prosent
- ER_1_prosent
- PR_10_prosent
- HER2
- Ki67
- Ck5
- Ck14
- EGFR
- TP_nr
- Size_A
- Size_min_A
- str_Anna
- Storrelse_histopatologisk
- str_hp_oppr
- str_crude
- str_2_5
- Storrelse_klinisk
- Kliniske_funn_hud_fascie
- met_brystalle
- stadium_brystalle
- Ant_lkn_us
- Ant_lkn_met
- lkn_status
- Vaktpostlkn
- Ark_A
- brystkreft_NT
- type_dlmpo
- papil_rev
- Alder_ved_S1
- Mitoses1
- Utgaar_sikkert
- Utgaar_forelopig
- Utgaar_lab
- ID_sykdom1
- Provenr101
- Preparatnr101
- Aarstall_prove101
- Provenr102
- Preparatnr102
- Aarstall_prove102
- Aarstall_prøve103
- Aarstall1_tumor1
- Prove1_lkn1
- Preparatnr1_lkn1
- Opr_type_kat
- Side_r
- Size_A1
- Size_min_A1
- Size_A2
- Size_min_A2
- inkl
- MITOSER
- Ark_O
- TYPE
- GRAD
- sykdom_id1
- ds1num
- diagnosedato1
- lok_icd71
- lok1
- topografi1
- hist_motnac1
- morfologi1
- basis1
- metastase1
- stadium1
- kirurgi1
- straalebehandling1
- hormonterapi1
- kjemoterapi1
- annen_behandling1
- side1
- fylke1
- alder1
- diagnosedato_151
- sykdom_id2
- ds2num
- diagnosedato2
- lok_icd72
- lok2
- topografi2
- hist_motnac2
- morfologi2
- basis2
- metastase2
- stadium2
- kirurgi2
- straalebehandling2
- hormonterapi2
- kjemoterapi2
- annen_behandling2
- status
- statusdato
- doedsaarsak
- response
- bmnth
- byear
- agefolup
- county
- urbrur
- occupat
- marstat
- marage
- parity
- deliage1
- deliage2
- deliagel
- deliint
- deliwait
- menowait
- childles
- reprodur
- lacttot
- lact1
- lact2
- lact3
- lactmean
- lactbmi
- menarche
- menopaus
- mensreg
- selflast
- docexam
- doclast
- disease1
- disease2
- disease3
- sickyear
- advice
- hwdone
- hwyear
- hwage
- hwcode
- height
- weight
- bmi
- bmi1
- hwtime
- hdiag1cr
- hdiag2cr
- hdiag3cr
- centime
- merg
- byear_cat
- cancernummer
- lokny
- brystalle
- birthdate
- start_followup
- age_010161
- statusdato1
- statusdato2
- statusdato15
- age_first_cancer
- diadate_brystalle
- freg
- date_hw
- age_height
- menarche_kvaalesgr
- height_norm
- height_5gr
- parity_0_4
- afftp_20_36
- bmi_5cat
- bmi_3cat
- para_0_1
- gift_2gr
- para_0_2
- parity_1_4
- afftp_para_20_36
- agelb_cat
- fjernet_ovarier
- age1_gynop
- hysterektomi
- kir_menop
- menopause_nat_cat
- height_3gr
- menarche_3gr
- menarche_2gr
- menopause_naturlig
- bmi_norm
- height_2gr
- bmi_2gr
- menopause_2gr
- age_hwcat
- byear_meno
- occupat_cat
- menarche_4gr
- abort_2gr
- afftp_para_19_35
- afftp_2gr
- afftp_19_35
- prev_ins_brystalle
- amming_tot
- DUCTAL
- LOBULAR
- OTHER
- GRAD1
- GRAD2
- GRAD3
- amming_tot_4gr
- afftp_para_3gr
- EXCLUDED
- cnr_brystalle
- morf_brystalle
- start_followup_post55
- histmotnac_brystalle
- histologi_KRG
- dod_aarsak1
- dod_aarsak
- dod_aarsak11
- dod_aarsak111
- dod_aarsak1111
- Cdod2
- dod_51
- dod_brystkreft
- dod_brc_dato
- basis_brystalle
- prep_ikkeStolav
- prepnr_KRG
- type_5gr
- DNR
- grad_5gr
- bc_rev
- afftp_3gr_mnp
- giftbarn
- byear_meno5
- byear_8cat
- parity_meno_grad
- afftp_5year
- lacttot_halvaar
- menopause_3aar
- amming_per_barn
- amming_per_barn_halvaar
- amming_per_barn_4gr
- stadium_4gr
- age_brystalle
- date_eof_brystalle
- year_brystalle
- eof_dod_brc
- diayear_10
- diayear_10rc
- age_dia_cat
- age_dia_catrc
- type_3gr
- tdiff
- bc_sensanalyse
- grad_rc
- _IGRAD_2
- _IGRAD_3
- _IGRAD_999
- _Iage_dia_c_2
- _Iage_dia_c_3
- _Iage_dia_c_4
- _Iage_dia_c_5
- _Iage_dia_c_6
- _Iage_dia_c_7
- _Iage_dia_c_8
- _Iage_dia_c_9
- _Idiayear_1_2
- _Idiayear_1_3
- _Idiayear_1_4
- _Idiayear_1_5
- oprtype_num
- STATUS_0611
- STATUSDATO_0611
- doedsaarsak_1210
- merge_markoer_kvaale
- CBP_Ck5_EGFR
- CBP_Ck5
- CBP_EGFR
- test
- STATUSDATO_06111
- statusdato06112
- status_mnd_0611
- STATUSDATO_0611_15
- dod_aarsak_20101
- dod_aarsak_2010
- dod_aarsak_201011
- dod_aarsak_2010111
- dod_aarsak_20101111
- Cdod_20102
- dod_5_20101
- dod_brystkreft_2010
- dod_brc_dato_2010
- eofdate_dod_2010
- diagnaar
- diagn5år
- dign61_65
- dign66_70
- dign71_75
- dign76_80
- dign81_85
- dign86_90
- dign91_95
- dign96_00
- dign01_05
- dign06_10
- interv_diag_bcdød
- _est_A
- _est_B
- Ki67b
- Ki67c
- TOP2A
- HER2TOP2A
- subtyper
- CK_5_6
- subtyper5_6
- LUA
- LUBHER2neg
- LUBHER2pos
- HER2er1
- allNEGP
- BASP
- Luminal
- NonLuminal
- HER2posgr
- HER2neggr
- ER1prosent
- subtyperER1
- _st
- _d
- _origin
- _t
- _t0
- Stadiumbrystkreft
- TOP2AHER2
- ERnegTOP2AHER2
- ERposTOP2AHER2
- HER2CISH
- HER2CishIhc
- sannsTamoxifen
- Antracyklin
- TOP2Aamp_del
- E_cadherin
- betCat
- AR
- ECad_intensitet
- nodestatus
- Ecad_Node
- Supersubtyper
- TNsubtyper
- NonLum
- alder65
- alder70

In [15]:
data.loc[:, ['ID_deltaker', 'TP_nr']]

      ID_deltaker  TP_nr
0               1      1
1               2      1
2               3    NaN
3               4      1
4               6    NaN
5               7      1
6               8      1
7               9    NaN
8              10      1
9              11    NaN
10             12      1
11             13    NaN
12             14      1
13             15      1
14             16      1
15             17      1
16             18      1
17             19      1
18             20      1
19             21      1
20             22    NaN
21             23      1
22             24      1
23             25      1
24             26      1
25             27      1
26             28      1
27             29      1
28             31      1
29             32      1
...           ...    ...
1026         3039     21
1027         3040     21
1028         3041     21
1029         3042     21
1030         3043     21
1031         3044     21
1032         3045     21
1033         3046     21
1034         3047     21
1035         3048    NaN
1036         3049     21
1037         3050     21
1038         3051    NaN
1039         3052    NaN
1040         3053     21
1041         3054    NaN
1042         3055     21
1043         3056     21
1044         3057     21
1045         3058     21
1046         3059     21
1047         3060     21
1048         3061     21
1049         3062     21
1050         3063     22
1051         3064    NaN
1052         3065     22
1053         3066     22
1054         3067     22
1055         3068    NaN

[1056 rows x 2 columns]

In [5]:
sum(data.GRAD[np.isfinite(data.GRAD)])

3053.0

In [6]:
sum(data.GRAD1) + 2*sum(data.GRAD2) + 3*sum(data.GRAD3)

2030.0

In [61]:
grad2 == grad3

,person_id,ID_deltaker,ER_10_prosent,ER_1_prosent,PR_10_prosent,HER2,Ki67,Ck5,Ck14,EGFR,...,betCat,AR,ECad_intensitet,nodestatus,Ecad_Node,Supersubtyper,TNsubtyper,NonLum,alder65,alder70
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,True,True,True
2,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,False,True,True
4,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,False,True,True
6,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
7,True,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,True
8,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
9,True,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,True
10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
11,True,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,True
12,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
13,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
17,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
19,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
20,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
21,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
22,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
24,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
25,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
26,True,True,True,True,True,True,True,True,True,True,...,False,True,False,True,False,True,False,False,True,True
27,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
28,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
29,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,True,False,False,True,True
1027,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1028,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1029,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1030,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
1031,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1032,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
1033,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
1034,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
1035,True,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,True
1036,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,False,False,True,True
1037,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,True,True,True
1038,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1039,True,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,True
1040,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1041,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1042,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1043,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1044,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,False,False,False,False,True,True
1045,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1046,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1047,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,True
1048,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,True,True,True
1049,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,True,True
1050,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,True,True
1051,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1052,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,True,True,True
1053,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,False,True,True
1054,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,True,True,True
1055,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [62]:
grad2

,person_id,ID_deltaker,ER_10_prosent,ER_1_prosent,PR_10_prosent,HER2,Ki67,Ck5,Ck14,EGFR,...,betCat,AR,ECad_intensitet,nodestatus,Ecad_Node,Supersubtyper,TNsubtyper,NonLum,alder65,alder70
0,83522,1,1,1,0,0,1,0,0,0,...,1,1,1,2,2,2,NaN,NaN,2,2
1,3160,2,0,0,0,0,1,0,0,0,...,1,1,1,3,NaN,NaN,2,3,2,2
2,34371,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
3,42852,4,1,1,0,1,1,0,0,0,...,1,1,1,3,NaN,NaN,NaN,NaN,2,2
4,5557,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
5,25239,7,1,1,1,1,1,0,0,0,...,9,1,0,4,NaN,NaN,NaN,NaN,2,2
6,31225,8,1,1,1,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
7,73609,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,1,1
8,35045,10,1,1,1,0,0,0,0,0,...,9,9,1,2,2,1,NaN,NaN,2,2
9,52193,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,2,2
10,79932,12,1,1,1,0,1,0,0,0,...,1,1,1,2,2,2,NaN,NaN,2,2
11,19076,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,2
12,10798,14,1,1,1,0,1,0,0,0,...,1,1,1,3,NaN,2,NaN,NaN,2,2
13,16979,15,0,0,0,1,1,0,0,0,...,1,1,1,3,NaN,NaN,NaN,1,2,2
14,61501,16,0,0,0,1,1,1,0,1,...,1,1,1,3,NaN,NaN,NaN,1,2,2
15,23220,17,0,0,0,0,0,0,0,1,...,1,0,1,2,2,NaN,3,3,2,2
16,78757,18,1,1,0,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
17,17906,19,0,0,0,1,1,0,0,1,...,1,1,1,2,2,NaN,NaN,1,2,2
18,4150,20,1,1,1,0,1,0,0,0,...,1,1,1,1,1,2,NaN,NaN,2,2
19,4403,21,1,1,1,0,0,0,0,0,...,0,1,0,3,NaN,1,NaN,NaN,2,2
20,80171,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
21,13632,23,1,1,0,0,0,0,0,0,...,1,0,1,4,NaN,1,NaN,NaN,2,2
22,3175,24,0,0,0,0,0,0,0,0,...,1,1,0,2,4,NaN,1,3,2,2
23,9069,25,1,1,1,0,0,0,0,0,...,1,1,1,4,NaN,1,NaN,NaN,2,2
24,20487,26,1,1,1,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
25,59448,27,1,1,1,0,1,0,0,0,...,1,1,1,4,NaN,2,NaN,NaN,2,2
26,65235,28,1,1,1,0,1,0,0,0,...,NaN,1,NaN,3,NaN,2,NaN,NaN,2,1
27,68283,29,1,1,1,0,0,0,0,0,...,1,1,1,4,NaN,1,NaN,NaN,2,2
28,82428,31,1,1,1,0,0,0,0,0,...,1,1,1,2,2,1,NaN,NaN,2,2
29,61082,32,1,1,1,0,1,0,0,0,...,1,1,1,4,NaN,2,NaN,NaN,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,21429,3039,0,1,0,0,1,0,0,0,...,NaN,NaN,NaN,3,NaN,2,NaN,NaN,1,1
1027,82184,3040,1,1,1,0,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,2,1
1028,35303,3041,1,1,0,0,1,0,0,0,...,1,0,1,2,2,2,NaN,NaN,1,1
1029,50660,3042,1,1,1,0,0,0,0,0,...,0,1,0,2,4,1,NaN,NaN,1,1
1030,70818,3043,1,1,1,0,0,0,0,0,...,0,1,0,3,NaN,1,NaN,NaN,2,2
1031,54994,3044,1,1,0,0,1,0,0,0,...,1,1,0,1,3,2,NaN,NaN,1,1
1032,40057,3045,1,1,1,0,0,0,0,0,...,1,1,1,4,NaN,1,NaN,NaN,2,1
1033,83219,3046,0,1,0,0,0,0,0,0,...,1,0,1,3,NaN,1,NaN,NaN,1,1
1034,35260,3047,1,1,1,0,1,0,0,0,...,1,1,1,3,NaN,2,NaN,NaN,2,1
1035,68524,3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,1,1
1036,40972,3049,1,1,1,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
1037,10193,3050,0,0,0,1,1,0,1,0,...,1,0,1,1,1,NaN,NaN,2,1,1
1038,35128,3051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1039,47584,3052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,1,1
1040,1255,3053,1,1,0,0,0,0,0,0,...,1,1,1,2,2,1,NaN,NaN,1,1
1041,74684,3054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1042,71770,3055,1,1,1,0,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,2,2
1043,19997,3056,1,1,0,0,0,0,0,0,...,0,1,0,1,3,1,NaN,NaN,2,2
1044,59462,3057,999,999,999,0,999,999,1,1,...,1,9,NaN,1,NaN,NaN,NaN,NaN,1,1
1045,44853,3058,1,1,1,0,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,1,1
1046,3085,3059,1,1,1,0,0,1,1,0,...,1,0,1,2,2,3,NaN,NaN,1,1
1047,28579,3060,1,1,1,0,0,1,1,0,...,1,1,1,2,2,3,NaN,NaN,1,1
1048,60811,3061,0,0,0,1,1,1,0,0,...,1,0,1,2,2,NaN,NaN,1,1,1
1049,29448,3062,0,1,0,1,0,1,0,0,...,1,1,0,1,1,NaN,NaN,NaN,1,1
1050,20520,3063,1,1,1,1,1,1,1,0,...,1,1,1,2,2,NaN,NaN,NaN,1,1
1051,24884,3064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1052,27579,3065,0,0,0,1,1,1,0,0,...,1,1,1,1,1,NaN,NaN,1,2,1
1053,53348,3066,1,1,0,1,1,0,0,0,...,1,0,1,3,NaN,NaN,NaN,NaN,2,1
1054,30705,3067,0,0,0,0,0,1,0,0,...,0,0,9,4,NaN,NaN,3,3,1,1
1055,35391,3068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [63]:
grad3

,person_id,ID_deltaker,ER_10_prosent,ER_1_prosent,PR_10_prosent,HER2,Ki67,Ck5,Ck14,EGFR,...,betCat,AR,ECad_intensitet,nodestatus,Ecad_Node,Supersubtyper,TNsubtyper,NonLum,alder65,alder70
0,83522,1,1,1,0,0,1,0,0,0,...,1,1,1,2,2,2,NaN,NaN,2,2
1,3160,2,0,0,0,0,1,0,0,0,...,1,1,1,3,NaN,NaN,2,3,2,2
2,34371,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
3,42852,4,1,1,0,1,1,0,0,0,...,1,1,1,3,NaN,NaN,NaN,NaN,2,2
4,5557,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
5,25239,7,1,1,1,1,1,0,0,0,...,9,1,0,4,NaN,NaN,NaN,NaN,2,2
6,31225,8,1,1,1,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
7,73609,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,1,1
8,35045,10,1,1,1,0,0,0,0,0,...,9,9,1,2,2,1,NaN,NaN,2,2
9,52193,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,2,2
10,79932,12,1,1,1,0,1,0,0,0,...,1,1,1,2,2,2,NaN,NaN,2,2
11,19076,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,2
12,10798,14,1,1,1,0,1,0,0,0,...,1,1,1,3,NaN,2,NaN,NaN,2,2
13,16979,15,0,0,0,1,1,0,0,0,...,1,1,1,3,NaN,NaN,NaN,1,2,2
14,61501,16,0,0,0,1,1,1,0,1,...,1,1,1,3,NaN,NaN,NaN,1,2,2
15,23220,17,0,0,0,0,0,0,0,1,...,1,0,1,2,2,NaN,3,3,2,2
16,78757,18,1,1,0,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
17,17906,19,0,0,0,1,1,0,0,1,...,1,1,1,2,2,NaN,NaN,1,2,2
18,4150,20,1,1,1,0,1,0,0,0,...,1,1,1,1,1,2,NaN,NaN,2,2
19,4403,21,1,1,1,0,0,0,0,0,...,0,1,0,3,NaN,1,NaN,NaN,2,2
20,80171,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
21,13632,23,1,1,0,0,0,0,0,0,...,1,0,1,4,NaN,1,NaN,NaN,2,2
22,3175,24,0,0,0,0,0,0,0,0,...,1,1,0,2,4,NaN,1,3,2,2
23,9069,25,1,1,1,0,0,0,0,0,...,1,1,1,4,NaN,1,NaN,NaN,2,2
24,20487,26,1,1,1,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
25,59448,27,1,1,1,0,1,0,0,0,...,1,1,1,4,NaN,2,NaN,NaN,2,2
26,65235,28,1,1,1,0,1,0,0,0,...,NaN,1,NaN,3,NaN,2,NaN,NaN,2,1
27,68283,29,1,1,1,0,0,0,0,0,...,1,1,1,4,NaN,1,NaN,NaN,2,2
28,82428,31,1,1,1,0,0,0,0,0,...,1,1,1,2,2,1,NaN,NaN,2,2
29,61082,32,1,1,1,0,1,0,0,0,...,1,1,1,4,NaN,2,NaN,NaN,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,21429,3039,0,1,0,0,1,0,0,0,...,NaN,NaN,NaN,3,NaN,2,NaN,NaN,1,1
1027,82184,3040,1,1,1,0,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,2,1
1028,35303,3041,1,1,0,0,1,0,0,0,...,1,0,1,2,2,2,NaN,NaN,1,1
1029,50660,3042,1,1,1,0,0,0,0,0,...,0,1,0,2,4,1,NaN,NaN,1,1
1030,70818,3043,1,1,1,0,0,0,0,0,...,0,1,0,3,NaN,1,NaN,NaN,2,2
1031,54994,3044,1,1,0,0,1,0,0,0,...,1,1,0,1,3,2,NaN,NaN,1,1
1032,40057,3045,1,1,1,0,0,0,0,0,...,1,1,1,4,NaN,1,NaN,NaN,2,1
1033,83219,3046,0,1,0,0,0,0,0,0,...,1,0,1,3,NaN,1,NaN,NaN,1,1
1034,35260,3047,1,1,1,0,1,0,0,0,...,1,1,1,3,NaN,2,NaN,NaN,2,1
1035,68524,3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,1,1
1036,40972,3049,1,1,1,0,0,0,0,0,...,1,1,1,3,NaN,1,NaN,NaN,2,2
1037,10193,3050,0,0,0,1,1,0,1,0,...,1,0,1,1,1,NaN,NaN,2,1,1
1038,35128,3051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1039,47584,3052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,1,1
1040,1255,3053,1,1,0,0,0,0,0,0,...,1,1,1,2,2,1,NaN,NaN,1,1
1041,74684,3054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1042,71770,3055,1,1,1,0,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,2,2
1043,19997,3056,1,1,0,0,0,0,0,0,...,0,1,0,1,3,1,NaN,NaN,2,2
1044,59462,3057,999,999,999,0,999,999,1,1,...,1,9,NaN,1,NaN,NaN,NaN,NaN,1,1
1045,44853,3058,1,1,1,0,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,1,1
1046,3085,3059,1,1,1,0,0,1,1,0,...,1,0,1,2,2,3,NaN,NaN,1,1
1047,28579,3060,1,1,1,0,0,1,1,0,...,1,1,1,2,2,3,NaN,NaN,1,1
1048,60811,3061,0,0,0,1,1,1,0,0,...,1,0,1,2,2,NaN,NaN,1,1,1
1049,29448,3062,0,1,0,1,0,1,0,0,...,1,1,0,1,1,NaN,NaN,NaN,1,1
1050,20520,3063,1,1,1,1,1,1,1,0,...,1,1,1,2,2,NaN,NaN,NaN,1,1
1051,24884,3064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1052,27579,3065,0,0,0,1,1,1,0,0,...,1,1,1,1,1,NaN,NaN,1,2,1
1053,53348,3066,1,1,0,1,1,0,0,0,...,1,0,1,3,NaN,NaN,NaN,NaN,2,1
1054,30705,3067,0,0,0,0,0,1,0,0,...,0,0,9,4,NaN,NaN,3,3,1,1
1055,35391,3068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [67]:
len(data.index)

1056

In [68]:
data.index[-1]

1055

In [89]:
data.loc[data.ID_deltaker == 21, 'GRAD']

19    2
Name: GRAD, dtype: float32

In [90]:
sum(data.GRAD1)

120.0

In [91]:
sum(data.GRAD == 1)

122

In [92]:
data.loc[data.ID_deltaker == 3067]

,person_id,ID_deltaker,ER_10_prosent,ER_1_prosent,PR_10_prosent,HER2,Ki67,Ck5,Ck14,EGFR,...,betCat,AR,ECad_intensitet,nodestatus,Ecad_Node,Supersubtyper,TNsubtyper,NonLum,alder65,alder70
1054,30705,3067,0,0,0,0,0,1,0,0,...,0,0,9,4,NaN,NaN,3,3,1,1

3      4
19    21
22    24
42    45
51    55
Name: ID_deltaker, dtype: int16

In [94]:
!head data/lobular.txt

In [103]:
data.loc[np.isfinite(data['GRAD']),('ID_deltaker', 'GRAD')]

      ID_deltaker  GRAD
0               1     3
1               2     3
3               4     2
5               7     2
6               8     2
8              10     3
10             12     3
12             14     2
13             15     3
14             16     3
15             17     3
16             18     2
17             19     3
18             20     2
19             21     2
21             23     1
22             24     2
23             25     2
24             26     2
25             27     2
26             28     1
27             29     3
28             31     2
29             32     1
30             33     3
32             35     2
33             36     2
34             37     2
35             38     2
36             39     1
...           ...   ...
1020         3033     2
1021         3034     2
1022         3035     3
1023         3036     2
1024         3037     2
1025         3038     3
1026         3039     3
1027         3040     1
1028         3041     3
1029         3042     2
1030         3043     2
1031         3044     2
1032         3045     1
1033         3046     2
1034         3047     2
1036         3049     2
1037         3050     3
1040         3053     3
1042         3055     2
1043         3056     2
1044         3057     2
1045         3058     1
1046         3059     3
1047         3060     2
1048         3061     3
1049         3062     3
1050         3063     3
1052         3065     3
1053         3066     2
1054         3067     1

[934 rows x 2 columns]

In [106]:
help(data.at)

Help on _AtIndexer in module pandas.core.indexing object:

class _AtIndexer(_ScalarAccessIndexer)
 |  Fast label-based scalar accessor
 |
 |  Similarly to ``loc``, ``at`` provides **label** based scalar lookups.
 |  You can also set using these indexers.
 |
 |  Method resolution order:
 |      _AtIndexer
 |      _ScalarAccessIndexer
 |      _NDFrameIndexer
 |      builtins.object
 |
 |  Methods inherited from _ScalarAccessIndexer:
 |
 |  __getitem__(self, key)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, *args, **kwargs)
 |
 |  __init__(self, obj, name)
 |
 |  __iter__(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [107]:
help(data.iat)

Help on _iAtIndexer in module pandas.core.indexing object:

class _iAtIndexer(_ScalarAccessIndexer)
 |  Fast integer location scalar accessor.
 |
 |  Similarly to ``iloc``, ``iat`` provides **integer** based lookups.
 |  You can also set using these indexers.
 |
 |  Method resolution order:
 |      _iAtIndexer
 |      _ScalarAccessIndexer
 |      _NDFrameIndexer
 |      builtins.object
 |
 |  Methods inherited from _ScalarAccessIndexer:
 |
 |  __getitem__(self, key)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, *args, **kwargs)
 |
 |  __init__(self, obj, name)
 |
 |  __iter__(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [109]:
pd.isnull(data.GRAD).head() # True for NaN values

0    False
1    False
2     True
3    False
4     True
Name: GRAD, dtype: bool

For more, see http://pandas.pydata.org/pandas-docs/stable/10min.html

In [9]:
np.sum(data.GRAD), np.sum(data.GRAD1) + 2*np.sum(data.GRAD2) + 3*np.sum(data.GRAD3)

(3053.0, 2030.0)